{% extends "base.html" %}
{% block content %}

  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label  class="form-label">Login</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Hasło</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary text-white ">Zaloguj</button>
      <p class="mt-2">Jeśli nie masz jescze konta <a href="{% url 'register_user' %}"> zarejestruj sie</a></p>
    </form>
  </div>
{% endblock %}
