{% extends "base.html" %}
{% load product_tag%}
{% block content %}

  <div class="content">
    <div class="container">
        <div class="container bg-light p-5 pt-3 ps-3">
            <div class="">
                <button class="back_button" onclick="history.back()">
                <span class="material-symbols-outlined " style="font-size:40px;">
                arrow_back
                </span>
                </button>
            </div>
            {%if product_object %}
            <div class="row p-5 pt-2 ps-3">
                <div class="col-xl-8 col-12 text-center">
                    <img src="{{product_object.image.url}}" alt="" style="height:450px; max-width: 100%; ">
                </div>
                <div class="col-xl-4 col-12 ">
                    <div class="container m-0 p-0 h-100 d-flex flex-column">
                        <div class="row">
                            <span class="fs-2 fw-bold">{{product_object.name}}</span>
                            <span class="fs-4 my-2">{{product_object.city|city_name}}</span>
                            <div><span class="price fs-1">{{product_object.price|price}}</span><span class="price fs-3">,{{product_object.price|price:False}} zł</span></div>
                        </div>
                        <div class="row mt-auto">
                                <form action="{% url 'cart_add' product_object.id%}" method="GET" id="buyForm">
                                    <div class="container m-0 p-0">
                                        <div class="row">
                                            <div class="col-auto" style="width:150px;">
                                                <input class="form-control form-control-lg" name='counter' type="number" value='1' id="buyQuantity" min="1" max="{{product_object.quantity}}">
                                            </div>
                                            <div class="col-auto pt-2 p-0 fs-5">
                                                <span class="">z {{product_object.quantity}}</span>
                                            </div>
                                        </div>
                                        <div class="row m-0 mt-2">
                                            <button class="btn btn-primary text-white w-100" type="submit">Dodaj do koszyka</button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <script>
                            $('#buyForm').submit(function(){
                            var quantity = $('#buyQuantity').val();
                            $(this).attr('action', $(this).attr('action').replace( "0", quantity));
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="row fs-3 p-0 m-0">
                {% if product_object.description %}
                <div class="border border-bottom border-bottom border-3 rounded-3 my-5"></div>
                {{product_object.description}}
                {% endif %}
                <div class="border border-bottom border-3 rounded-3 my-5"></div>
                <table class="table m-0 p-0">
                  <tbody id="tableBody">

                  </tbody>
                </table>
            </div>
            {% else %}
            <p>Nie znaleziono produktu 404 :</p>
            {% endif %}
        </div>
    </div>
  </div>

    <script>
        var str = "{{product_object.spec}}";
        str = str.replace(new RegExp("&"+"#"+"x27;", "g"), "\"");

        const json = JSON.parse(str);
        for(var key in json){
            if(json[key] != ""){
                var row = "<tr><td style='width:50%'>" + key + "</td><td style='width:50%'>" + json[key] + "</td></tr>";
                document.getElementById('tableBody').innerHTML += row;
            }
        }

    </script>
{% endblock %}
