{% extends "base.html" %}
{% block content %}

    <div class="container bg-light p-4">

        {%if product_object %}
        <div class="row">
            <div class="col-6">
                <img class="img-thumbnail" src="{{product_object.image.url}}" alt="">
            </div>
            <div class="col-6">
                <div class="container h-100 m-0 p-0">
                    <p class="fs-1">{{product_object.title}}</p>
                    <p class="fs-4">{{product_object.city}}</p>
                    <p class="fs-4 ">{{product_object.price}} zł</p>
                    <p class="fs-6 ">
                        Dostępne sztuki - {{product_object.quantity}}<br/>
                        W koszyku - {{in_cart}}
                    </p>
                </div>
                <div class="position-relative">
                    <div class="position-absolute bottom-0 start-0">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class='my-3'>
                                <input class="form-control" name='counter' type="number" value='1'>
                            </div>
                            {% if user.is_authenticated %}
                            <button class="btn btn-primary text-white w-100" type="submit">Doadaj do koszyka</button>
                            {% else %}
                            <button class="btn btn-primary text-white w-100" type="submit" disabled>Zaloguj sie aby dodać do koszyka</button>
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 fs-3">
            <p>{{product_object.description}}</p>
        </div>
        {% else %}
        <p>Nie znaleziono produktu 404 :</p>
        {% endif %}
    </div>

{% endblock %}