{% extends "base.html" %}
{% load product_tag%}
{% load cart_tag %}
{% block content %}

<div class="content">
<div class="container p-0 h-100">
  <div class="row m-0 p-0 h-100">
    <div class="col-md-12 col-xl-8">
      <div class="container bg-light p-3 h-100">
        <h2>Twój koszyk</h2>
        <div class="border border-bottom border-1 rounded-3"></div>
        {%if request.session.cart.items %}
        {% for key,value in request.session.cart.items %}
        <div class="container product_list py-3">
          <a class="text-decoration-none text-dark" href="/product/{{value.product_id}}">
            <div class="row">
              <div class="col-2">
                <img class="img-list" src="{{value.image}}" alt="" style="object-fit: fill;" width="125" height="100">
              </div>
              <div class="col-5">
                <span class="fs-4">{{value.name}}</span>
                <div class="">{{value.quantity}} szt.</div>
              </div>
              <div class="col-4 d-flex align-items-center">
                <div class="h-auto w-100 text-end lh-1">
                  <span class="price fs-2">{{value.price|multiply:value.quantity|price}}</span><span class="price fs-4">,{{value.price|multiply:value.quantity|price:False}} zł</span><br>
                  {% if value.quantity > 1%}
                  <span class="fs-6 text-muted">za sztukę {{value.price}} zł</span>
                  {% endif %}
                  </div>
              </div>
              <div class="col-1 position-relative">
                <form action="{% url 'item_clear' value.product_id %}">
                  <button class="orange_button position-absolute top-50 start-50 translate-middle" type="submit">
                    <i class="material-icons" style=" font-size: 48px; ">&#xe872;</i>
                  </button>

                </form>
              </div>
            </div>
          </a>
        </div>
        {% if not forloop.last %}
        <div class="border border-bottom border-1 rounded-3"></div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class="text-center p-3">Nie masz nic w koszyku</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <form action="{% url 'buy'%}" id="buyForm" method="GET" class="h-100">
        <div class="container bg-light p-3 h-100 d-flex flex-column">
          <h2>Dane</h2>
          <div class="border border-bottom border-1 rounded-3 mb-2"></div>
          <div class="row p-0 m-0 mb-3">
            <label for="firstName" class="form-label p-0">Imię</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Jan" maxlength="24" required>
          </div>
          <div class="row p-0 m-0 mb-3">
            <label for="secondName" class="form-label p-0">Nazwisko</label>
            <input type="text" class="form-control" id="secondName" name="secondName" placeholder="Kowalski" maxlength="24" required>
          </div>
          <div class="row p-0 m-0 mb-3">
            <label for="login" class="form-label p-0">Login PGS</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="jkowalski" maxlength="25" required>
          </div>
          <div class="p-0 m-0 mb-3">
            <label for="address" class="form-label p-0">Adres</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Sucha 3, 50-086 Wrocław" maxlength="60" required>
          </div>
          <div id="company_div" style="visibility: hidden;">
            <div class="p-0 m-0 mb-3">
              <label for="company_name" class="form-label p-0">Nazwa firmy</label>
              <input type="text" class="form-control" id="company_name" name="company_name" placeholder="PGS Software"  maxlength="30">
            </div>
            <div class="p-0 m-0 mb-3  mt-auto">
              <label for="nip" class="form-label p-0">NIP</label>
              <input type="text" class="form-control" id="nip" name="nip" placeholder="1234567890" pattern="[0-9]{10}">
            </div>
          </div>
          <div class="form-check mt-auto">
            <input class="form-check-input" type="checkbox" id="company" name="company" value="T">
            <label class="form-check-label" for="company">
              Na firmę
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="statute" name="statute" value="T" required>
            <label class="form-check-label" for="statute">
              Akceptuję <a href="{% url 'statute' %}">regulamin</a>
            </label>
          </div>
          <div class="row pt-3">
            <div class="col-6">
              <span class="price fs-2">{{price_for_everything|price}}</span><span class="price fs-4">,{{price_for_everything|price:False}} zł</span><br/>
            </div>
            <div class="col-6 text-end">
              {% if request.session.cart.items %}
              <input class="btn btn-primary text-white  btn-lg" id="orderButton" type="submit" value="Złóż zamówienie">
              {% else %}
              <input class="btn btn-primary text-white  btn-lg" id="orderButton" type="submit" value="Złóż zamówienie" disabled>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script>
  // set orderButton disabled after clicking
  document.getElementById('buyForm').addEventListener('submit', () => {
      document.getElementById('orderButton').disabled = true;
  });

  // set hiding and requiring
  var checkbox = document.getElementById('company');

  var company_name = document.getElementById("company_name");
  var nip = document.getElementById("nip");
  var company_div = document.getElementById("company_div");
  checkbox.addEventListener('change', () => {
      if (checkbox.checked) {
          company_div.style.visibility = 'visible';
          company_name.required = true;
          company_name.disabled = false;
          nip.required = true;
          nip.disabled = false;
      } else {
          company_div.style.visibility = 'hidden';
          company_name.required = false;
          company_name.disabled = true;
          nip.required = false;
          nip.disabled = true;

      }

  });
  if (checkbox.checked) {
      company_div.style.visibility = 'visible';
          company_name.required = true;
          company_name.disabled = false;
          nip.required = true;
          nip.disabled = false;

  } else {
      company_div.style.visibility = 'hidden';
          company_name.required = false;
          company_name.disabled = true;
          nip.required = false;
          nip.disabled = true;
  }
</script>
{% endblock %}
