{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="container bg-light p-4">
    <h1>Podsumowanie</h1>
    <div class="border border-bottom border-1 rounded-3 my-2"></div>
    <h4 class="text-center">Informacje o twoim zakupie zostały zapisane. Poczekaj aż admin się z tobą skontaktuję.</h4>
    <h1>Dane</h1>
    <div class="border border-bottom border-1 rounded-3 my-2"></div>
    <h4 class=""></h4>
      <table class="table">
        <tbody>
          <tr>
            <td>Imię i Nazwisko</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td>Adres</td>
            <td>{{address}}</td>
          </tr>
          <tr>
            <td>Nazwa firmy</td>
            <td>
              {% if company_name %}
                {{company_name}}
              {% else %}
                brak
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Nazwa NIP</td>
            <td>
              {% if nip %}
                {{nip}}
              {% else %}
                brak
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    <h1>Produkty</h1>
    <div class="border border-bottom border-1 rounded-3 my-2"></div>
      {% for key, value in cart.items %}
      <div class="container product_list py-3">
          <a class="text-decoration-none text-dark" href="/product/{{value.product_id}}">
            <div class="row">
              <div class="col-2">
                <img class="img-list" src="{{value.image}}" alt="" style="object-fit: fill;" width="125" height="100">
              </div>
              <div class="col-5">
                <span class="fs-4">{{value.name}}</span>
                <div class="">{{value.quantity}} szt.</div>
              </div>
              <div class="col-5 d-flex align-items-center">
                <div class="h-auto w-100 text-end">
                  {% load cart_tag %}
                  <span class="fs-4 ">{{value.price|multiply:value.quantity}}zł</span>
                  {% if value.quantity > 1%}
                  <br/>
                  <span class="fs-8">{{value.price}}zł za szt.</span>
                  {% endif %}
                  </div>
              </div>
            </div>
          </a>
      </div>
      {% endfor %}
      <form action="{% url 'home' %}">
        <div class="text-end mt-4 d-flex justify-content-center">
          <button class="btn btn-primary text-white  btn-lg" type="submit"><span class="px-5">git</span></button>
        </div>
      </form>
  </div>
</div>
{% endblock %}
