<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>PGS Store</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/bootsrap.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="d-flex flex-column h-100">

    <header class="container my-3 px-0">
        <div class="row justify-content-between">
            <div class="col">
                <a href="/">
                    {% load static %}
                    <img src="{% static '/pgslogo.png' %}" alt="" style="height: 100px; width: auto;">
                </a>
            </div>
            <div class="col text-end position-relative">
                <form action="{% url 'cart' %}" class=" position-absolute top-50 end-0 translate-middle-y">
                    <button class="orange_button position-relative" type="submit">
                        {% if request.session.cart.items %}
                        {% load cart_tag  %}
                        <span class="position-absolute bottom-0 end-0 badge rounded-pill bg-secondary">{{request.session.cart.items|count_cart_items }} </span>
                        {% endif %}
                        <i class="material-icons" style=" font-size: 56px; ">&#xf1cc;</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row px-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </header>
    <main>
    </main>
    {% block content %} {% endblock %}

    <footer class="footer mt-auto py-3">
      <div class="container p-3 text-center">
        <span class="text-muted">PGS Software &copy; Milego dnia!</span>
      </div>
    </footer>
</body>
</html>
