<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>PGS Store</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/bootsrap.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container my-3">
        <div class="row m-0 p-0">
            <div class=" m-0 p-0">
                <a href="/">
                    <img src="{% static '/pgslogo.png' %}" alt="" style="height: 100px; width: auto;">
                </a>
            </div>
            <div class="col text-end position-relative m-0 p-0">
                <form action="{% url 'cart' %}" class=" position-absolute top-50 end-0 translate-middle-y" style="margin-right: -10px;">
                    <button class="orange_button position-relative" type="submit">
                        {% if request.session.cart.items %}
                        {% load cart_tag  %}
                        <span class="position-absolute bottom-0 end-0 badge rounded-pill bg-secondary">{{request.session.cart.items|count_cart_items }} </span>
                        {% endif %}
                        <i class="material-icons" style=" font-size: 56px; ">&#xf1cc;</i>
                    </button>
                </form>
            </div>
        </div>
        {% if messages %}
        <div class="row m-0 mt-3 p-0">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    <main class="content">
    {% block content %} {% endblock %}
    </main>

    <footer>
      <div class="footer p-4 text-center">
        <span class="text-muted">PGS Software &copy; Miłego dnia!</span>
      </div>
    </footer>

    <script src="{% static '/bootsrap.min.js' %}"></script>
    <script src="{% static '/jquery-3-6-0.js' %}"></script>
</body>
</html>
